@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Typo Round Regular Demo";
  /* font-family: "Montserrat"; */
}
*::-webkit-scrollbar {
  display: none;
}
/* button { */
/* Style the button with the Tailwind base button styles */
/* @apply font-bold py-2 px-4 rounded-full; */

/* Set the background color to red and add a glow effect */
/* background-color: red;
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5);
} */

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url("./components/assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf")
      format("truetype");
  font-weight: bold;
}
.Playfair {
  font-family: "Playfair Display";
}

@font-face {
  font-family: "Typo Round Regular Demo";
  src: local("Typo Round Regular Demo"),
    url("./components/assets/fonts/Typo/Typo_Round_Regular_Demo.otf")
      format("opentype");
  font-weight: bold;
}

* {
  user-select: none;
}

body {
overflow-x: hidden;
}
body .categories {
  overflow-y: scroll;
}
